@model IEnumerable<Bludata.Models.Empresa>

@{
    ViewBag.Title = "Index";
}

<h2>Empresas</h2>

<p>
    <a href="@Url.Action("Create")" class="btn btn-primary">
        <span class="glyphicon glyphicon-plus"> </span>
        Nova Empresa
    </a>
</p>
<div class="form-group">
    <form id="form-empresa" class="form-inline" action="/action_page.php">
        <input type="hidden" name="pagina" value="1" />
        <input type="hidden" name="registros" value="5" />
    </form>
</div>
<div id="listagemEmpresas"></div>
@section scripts{
    <script type="text/javascript">

        $(document).ready(configurarController);
        function configurarController() {
            ListarEmpresas();
            $("#btnPesquisarEmpresa").click(ListarEmpresas);

        }
        function Paginar(valor) {
            var elementoPagina = $("input[name='pagina']");
            var paginaAtual = parseInt(elementoPagina.val());
            if (paginaAtual == 1 && valor == -1)
            {
                return;
            }
            elementoPagina.val(paginaAtual + valor);
            ListarEmpresas();
        }
        function ListarEmpresas() {
            $("#listagemEmpresas").load("@Url.Action("ListarEmpresas")", $("form").serialize());
        }
    </script>
}


