@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron jumbotron-fluid">
    <h1>Avaliação de Conhecimentos Programador C#</h1>
    @*<p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>*@
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>O que é o Projeto ?</h2>
        <p>
            Esse é um projeto criando ASP.NET MVC 5, que cria uma listagem de fornecedores ligados à empresas. Nele temos regras de negócios muito interessantes e úteis. Algumas delas são:  não permitir cadastro de fornecedor menor de idade em uma empresa específica, campos específicos para determindado tipo de fornecedor, filtros, etc... 
        </p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Desenvolvedor do Projeto</h2>
        <p>Olá, meu nome é André. Tenho 19 anos e conheci e comecei a estudar e entrar no mundo do desenvolvimento no ano passado com o curso Entra21. Ao finaliza o curso, tive a oportunidade de trabalhar com a Benner Sistemas durante 6 meses. Mais informações sobre o meu currículo serão encontradas no meu Linkedin.</p>
    </div>
    <div class="col-md-4">
        <h2>Contato</h2>
        <div>
            <div class="row">
                <img src="https://image.flaticon.com/icons/png/512/174/174857.png" style="
    width: 23px;
    margin-bottom: 10px;
    margin-left: 8px;
">
                <a href="https://www.linkedin.com/in/andr%C3%A9-w-9a7812124/" target="_blank" rel="noopener noreferrer">
                    <span style="display: block;
      margin-top: -33px;
      margin-bottom: 20px;
      margin-left: 40px;
      ">André Wenceslau de Olivera</span>
                </a>
            </div>
            <div class="row">

                <img src="https://i.pinimg.com/originals/d9/d9/7d/d9d97d48264770f85d35c208f279152c.png" style="
    width: 23px;
    margin-bottom: 10px;
    margin-left: 8px;
">
                <a href="https://api.whatsapp.com/send?1=pt_BR&phone=5547991025087" target="_blank" rel="noopener noreferrer">
                    <span style="display: block;
      margin-top: -33px;
      margin-bottom: 20px;
      margin-left: 40px;
      ">André Wenceslau de Olivera</span>
                    </a>

            </div>
            <div class="row">

                <img src="https://www.iconfinder.com/data/icons/font-awesome/1792/github-square-512.png" style="
    width: 23px;
    margin-bottom: 10px;
    margin-left: 8px;
">
                <a href="https://github.com/AndreWenceslau/Projeto-Bludata" target="_blank" rel="noopener noreferrer">
                    <span style="display: block;
      margin-top: -33px;
      margin-bottom: 20px;
      margin-left: 40px;
      ">Código do Projeto</span>
                    </a>

            </div>

        </div>
    </div>
</div>