@model IEnumerable<Bludata.Models.Fornecedor>

@{
    ViewBag.Title = "Index";
}

<h2>Fornecedores</h2>

<p>
    <a href="@Url.Action("Create")" class="btn btn-primary">
        <span class="glyphicon glyphicon-plus"> </span>
        Novo fornecedor
    </a>
</p>
<div class="form-group">
    <form id="form-fornecedor" class="form-inline" action="/action_page.php">
        <label for="" class="mr-sm-2">Nome:</label>
        <input type="text" class="form-control mb-2 mr-sm-2" name="Nome" placeholder="Digite o Nome Desejado" id="">
        <label for="" class="mr-sm-2">CPF:</label>
        <input type="text" class="form-control mb-2 mr-sm-2" name="Cpf" placeholder="Digite o CPF Desejado" id="">
        <label for="" class="mr-sm-2">CNPJ:</label>
        <input type="text" class="form-control mb-2 mr-sm-2" name="Cnpj" placeholder="Digite o CNPJ Desejado" id="">
        <label for="" class="mr-sm-2">Data do Cadastro:</label>
        <input type="date" class="form-control mb-2 mr-sm-2" name="DataHora" placeholder="Digite a Data Desejado" id="">

        <button type="button" id="btnPesquisar" class="btn btn-success mb-2">Filtrar</button>

        <input type="hidden" name="pagina" value="1" />
        <input type="hidden" name="registros" value="5" />
    </form>
</div>
<div id="listagemFornecedores"></div>
@section scripts{
    <script type="text/javascript">

        $(document).ready(configurarController);
        function configurarController() {
            ListarFornecedores();
            $("#btnPesquisar").click(ListarFornecedores);

        }

        function Paginar(valor) {
            var elementoPagina = $("input[name='pagina']");
            var paginaAtual = parseInt(elementoPagina.val());
            if (paginaAtual == 1 && valor == -1)
            {
                return;
            }
            @if (@TempData["quantidadePaginasFornecedoresHtml"] != null)
            {
                return;
            }
            elementoPagina.val(paginaAtual + valor);
            ListarFornecedores();
        }
        function ListarFornecedores() {
            @if (@TempData["quantidadePaginasFornecedoresHtml"] != null)
            {
                return;
            }
            
            $("#listagemFornecedores").load("@Url.Action("Listar")", $("form").serialize());
        }
    </script>
}


